.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
}

.inputs{
    margin: 20px 0px;
}

.input{
  padding: 10px;
  margin: 0px 5px;
  border-radius: 10px;
}

.button{
  padding: 10px;
  border: none;
  background-color: rgb(185, 50, 50);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.content-item{
  padding: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  background-color: lightgray;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.content-item a {
  text-decoration: none;
  color: rgb(51, 45, 45);
}

.remove-item {
  background-color: red;
  color: white;
  border: 0px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}